<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="Final.vo.User" alias="user"/>
	    <typeAlias type="Final.vo.CarStatus" alias="carstatus"/>
	    <typeAlias type="Final.vo.Reservation" alias="reservation"/>
	    <typeAlias type="Final.vo.Car" alias="car"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="Final/config/usermapper.xml"/>
		<mapper resource="Final/config/carstatusmapper.xml"/>
		<mapper resource="Final/config/reservationmapper.xml"/>
		<mapper resource="Final/config/ureservationmapper.xml"/>
		<mapper resource="Final/config/carmapper.xml"/>
	</mappers>
</configuration>






